<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retrive_image_tablayout">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"/>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TempFragment"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.retrive_image_tablayout.MainActivity"/>
        </activity>
        <activity
            android:name=".Product_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Devloper_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Temporary"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShowCategories"
            android:parentActivityName=".Login" />


    </application>

</manifest>